@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CAVEAT';
  src: url('./fonts/Caveat-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'OSWALD';
  src: url('./fonts/Oswald-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'INTER';
  src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  background-color: #F5F5F5;
}